<div class='container'>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class='nav-link' href='/projects'><i class="fa fa-arrow-circle-left" aria-hidden="true"> Back to
          projects</i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/details/{{prId}}">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/requirements/{{prId}}">Requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/issues/{{prId}}">Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/testPlans/{{prId}}">Test Plans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/people/{{prId}}">People</a>
    </li>
  </ul>
  {{#each issues}}
  <div class="card card-body">
    <h4>{{title}}</h4>
    <p>Type: {{issueType}}</p>
    <p>Status: {{status}}</p>
    <div class="container">
      <div class="row">
        <div class="ctext-center col-xs-3 pr-2">
          <a class='btn btn-dark btn-block mb-2' href="/issues/details/{{id}}">Details</a>
        </div>
        <div class="ctext-center col-xs-3 pr-2">
          <a class='btn btn-dark btn-block mb-2' href="/issues/edit/{{id}}">Edit</a>
        </div>
        <div class="ctext-center col-xs-3 pr-2">
          <form action="/issues/{{id}}?_method=DELETE" method='post'>
            <input type="hidden" name='_method' value='DELETE'>
            <input type="submit" class='btn btn-danger btn-block' value='Delete'>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <p>This project doesn't have any issues yet</p>
  {{/each}}