<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">TMG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        id="navbarDropdownMenuLink">Projects</a>
                    <div class="dropdown-menu">
                        <a href="/projects" class="dropdown-item">My Projects</a>
                        <a href="/projects/add" class="dropdown-item">Create project</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        id="navbarDropdownMenuLink">Manage Issues</a>
                    <div class="dropdown-menu">
                        <a href="/issues" class="dropdown-item">My Open Issues</a>
                        <a href="/issues/add" class="dropdown-item">Create issue</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/users/logout" class="nav-link">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/users/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/users/register" class="nav-link">Register</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>