<div class='container'>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class='nav-link' href='/projects'><i class="fa fa-arrow-circle-left" aria-hidden="true"> Back to
          projects</i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/details/{{id}}">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/requirements/{{id}}">Requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/issues/{{id}}">Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/testPlans/{{id}}">Test Plans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/people/{{id}}">People</a>
    </li>
  </ul>