<div class="card card-body">
    <h3>{{title}}</h3>
    <h5>Create Test Case</h5>
    <form action="/projects/project/{{prId}}/testPlan/{{id}}/addCase" id='formForAddingCases' method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class='form-control' name='title' required>
        </div>
        <div class="form-group row" id='addTesCaseForm'>
            <div class="col">
                <input type="text" class="form-control" name='step' placeholder="Step 1">
            </div>
            <div class="col">
                <input type="text" class="form-control" name='expected' placeholder="Expected result">
            </div>
            <div class="col">
                <i class="fa fa-plus-circle" id="addStep" aria-hidden="true"></i>
            </div>
        </div>
        <button type="submit" class='btn btn-primary' id='submitButton'>Submit</button>
    </form>
</div>

<script>
    let addButton = document.getElementById('addStep');
    let removeButton = document.getElementById('removeStep');
    let button = document.getElementById('submitButton');
    let counter = 2;

    addButton.addEventListener('click', function () {
        let newStep = document.createElement('div')
        newStep.setAttribute('class', 'form-group row');
        newStep.setAttribute('id', `stepGroup${counter}`);
        newStep.innerHTML =
            `
            <div class="col">
                <input type="text" class="form-control" name='step' placeholder="Step ${counter}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name='expected' placeholder="Expected result">
            </div>
            `

        document.getElementById('formForAddingCases').insertBefore(newStep, button);
        counter++;

    });
</script>