<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Assign People To You Project</h3>
            <form action='/projects/{{project.id}}/addUser?_method=PUT' method='post'>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class='form-control' name='email' value='{{email}}' required>
                </div>
                <div class="form-group">
                    <select class="form-control" name='role'>
                        <option>Administrator</option>
                        <option>Tester</option>
                        <option>Developer</option>
                    </select>
                </div>
                <button type="submit" class='btn btn-primary'>Submit</button>
            </form>
        </div>
    </div>
</div>