<div class="card card-body">
    <h3>Change status</h3>
    <form action="/projects/testCase/{{id}}?_method=PUT" method="post">
        <input type="hidden" name='_method' value='PUT'>
        <div class="form-group">
            <select class="form-control" name='caseStatus'>
                <option selected>{{status}}</option>
                <option>Open</option>
                <option>Passed</option>
                <option>Failed</option>
                <option>Blocked</option>
            </select>
        </div>
        <button type="submit" class='btn btn-primary'>Submit</button>
    </form>
</div>