<div class="card card-body">
    <h3>Edit Project</h3>
    <form action="/projects/{{project.id}}?_method=PUT" method="post">
    <input type="hidden" name='_method' value='PUT'>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class='form-control' name='title' value='{{project.title}}' required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class='form-control' name='details' required>{{project.details}}</textarea>
        </div>
        <button type="submit" class='btn btn-primary'>Submit</button>
    </form>
</div>