{{#each projects}}
<div class="card card-body">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <div class="container">
        <div class="row">
            <div class="ctext-center col-xs-3 pr-2">
                <a class='btn btn-dark btn-block  mb-2' href="/projects/details/{{id}}">Details</a>
            </div>
            <div class="text-center col-xs-3 pr-2">
                <a class='btn btn-dark btn-block mb-2' href="/projects/edit/{{id}}">Edit</a>
            </div>
            <div class="text-center col-xs-3 pr-2">
                <form action="/projects/{{id}}?_method=DELETE" method='post'>
                    <input type="hidden" name='_method' value='DELETE'>
                    <input type="submit" class='btn btn-danger btn-block' value='Delete'>
                </form>
            </div>
        </div>
    </div>
</div>
{{else}}
<p>You don't have an actie project</p>
{{/each}}