{{> _projectSubNav}}
<div class='container'>
    <a class='btn btn-dark btn-block pull-right' href="/projects/addPeople/{{id}}">Add People</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>Owner</td>
            </tr>
            {{#each people}}
            <form action="/projects/removePerson/{{id}}/project/{{prId}}?_method=PUT" method="post">
                <tr>
                    <th>{{name}}</th>
                    <th>{{email}}</th>
                    <th>{{role}}</th>
                    <th><button type='submit' class='btn btn-danger'>Delete</button></th>
                </tr>
            </form>
            {{/each}}
        </tbody>
    </table>