<a class='nav-link' href='/projects/testPlans/{{testPlanProject}}'><i class="fa fa-arrow-circle-left"
        aria-hidden="true"> Back to
        test plans</i></a>

<div class="card card-body">
    <form>
        <div class="form-group">
            <h2>{{title}}</h2>
        </div>
        <div class="form-group">
            <h5>{{type}}</h5>
        </div>
        <div class="form-group">
            <label for="reporter">Reporter: {{owner}}</label>
        </div>
        <div class="form-group">
            <label for="assignee">Assignee: {{userName}} <a href="/issues/reassign/{{id}}">Change</a></label>
        </div>
        <div class="form-group">
            <label for="status">Status: {{status}} <a class="" href="/issues/reassign/{{id}}">Change</a></label>
        </div>
        <div class="form-group">
            {{#if testCases}}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Test Cases</th>
                    </tr>
                </thead>
                {{#each testCases}}
                <tbody>
                    <tr>
                        <td><a href="/projects/testCaseDetails/{{id}}">{{title}}</a></td>
                        <td><a href="/projects/changeCaseStatus/{{id}}">{{status}}</a></td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
            {{/if}}
        </div>
        <a href='/issues/edit/{{id}}' class='btn btn-primary'>Edit Details</a>
        <a href='/projects/{{id}}/addCase' class='btn btn-secondary'>Add cases</a>
</div>
</form>
</div>
<div class="container"></div>