<a class='nav-link' href='/projects/testPlans/{{projectId}}'><i class="fa fa-arrow-circle-left" aria-hidden="true"> Back
        to
        test plans</i></a>

<div class="card card-body">
    <form>
        <div class="form-group">
            <h2>{{title}}</h2>
        </div>
        <div class="form-group">
            <h5>{{type}}</h5>
        </div>
        <div class="form-group">
            <label for="reporter">Reporter: {{owner}}</label>
        </div>
        <div class="form-group">
            <label for="status">Status: {{status}} <a href="/projects/changeCaseStatus/{{id}}">Change</a></label>
        </div>
        <div class="form-group">
            <thead>
                <tr>
                    <th scope="col">Test Steps:</th>
                </tr>
            </thead>
            {{#each steps}}
            <tbody>
                <tr>
                    <form>
                        <div class="form-group row">
                            <div class="col">
                                <label>Step:</label>
                            </div>
                            <div class="col">
                                <input readonly value='{{step}}'>
                            </div>
                            <div class="col">
                                <label>Expected Result:</label>
                            </div>
                            <div class="col">
                                <input readonly value='{{expected}}'>
                            </div>
                        </div>
                    </form>
                </tr>
            </tbody>
            {{/each}}
            </table>
        </div>
        <a href='#' class='btn btn-secondary'>Add steps</a>
</div>
</form>
</div>