<div class="card card-body">
    <h3>Issue</h3>
    <form action="/issues" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class='form-control' name='title' required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class='form-control' name='details' required></textarea>
        </div>
        <div class="form-group">
            <label for="project">Project</label>
            <input type="text" class='form-control' name='project' required>
        </div>
        <div class="form-group">
            <select class="form-control" name='issueType'>
                <option>Bug</option>
                <option>User Story</option>
                <option>Test Plan</option>
            </select>
        </div>
        <div class="form-group">
            <label for="userAssigned">Assignee</label>
            <input type="text" class='form-control' name='userAssigned' required>
        </div>
        <button type="submit" class='btn btn-primary'>Submit</button>
    </form>
</div>