<div class="card card-body">
    <form>
        <div class="form-group">
            <h2>{{title}}</h2>
        </div>
        <div class="form-group">
            <label for="reporter">Reporter: {{owner}}</label>
        </div>
        <div class="form-group">
            <label for="assignee">Assignee: {{userName}} <a href="/issues/reassign/{{id}}">Change</a></label>
        </div>
        <div class="form-group">
            <label for="status">Status: {{status}} <a class="" href="/issues/reassign/{{id}}">Change</a></label>
        </div>
        <div class="form-group">
            <label for="issueDetails">Details:</label>
            <textarea class="form-control" id="issueDetails" rows="3">{{details}}</textarea>
        </div>
        <a href='/issues/edit/{{id}}' class='btn btn-primary'>Edit Details</a>
</div>
</form>
</div>
<div class="container"></div>