{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
    {{else}}
{{/each}}

<div class="card card-body">
    <h3>Edit Issue</h3>
    <form action="/issues/{{issue.id}}?_method=PUT" method="post">
    <input type="hidden" name='_method' value='PUT'>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class='form-control' name='title' value='{{issue.title}}' required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class='form-control' name='details' required>{{issue.details}}</textarea>
        </div>
        <button type="submit" class='btn btn-primary'>Submit</button>
    </form>
</div>