<div class="card card-body">
    <h3>Reassign</h3>
    <form action="/issues/reassign/issue/{{id}}?_method=PUT" method="post">
    <input type="hidden" name='_method' value='PUT'>
        <div class="form-group">
            <label for="userAssigned">Assign to</label>
            <input type="text" class='form-control' name='userAssigned' value='{{userName}}' required>
        </div>
        <div class="form-group">
            <select class="form-control" name='status'>
                <option selected>{{status}}</option>
                <option>Open</option>
                <option>Closed</option>
                <option>In Progress</option>
                <option>In Code Review</option>
                <option>In Testing</option>
            </select>
        </div>
        <button type="submit" class='btn btn-primary'>Submit</button>
    </form>
</div>